* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #181818;
  color: beige;
  flex: 1;
  font-size: 24px;
}
a {
  text-decoration: none;
}
.red {
  border: 1px solid red;
}
